/* Activity Monitoring page styles */
.activity-monitoring-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(250, 249, 248);
    color:white;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.activity-monitoring-main {
    background-color: white;
    color:black;
    padding: 30px;
    border-radius: 8px;
    width: 1100px;
    margin: 0 auto;
    font-size: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.activity-monitoring-main h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.activity-monitoring-main h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #333;
}

.activity-monitoring-main ul {
    list-style: disc inside;
    padding-left: 0;
    color: #555;
}

.activity-monitoring-main ul li {
    margin-bottom: 10px;
    font-size: 14px;
}
