/* Basic styles for CSS Trainer page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    min-height: 100px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.trainer-header {
    background-color: rgb(245, 248, 247);
    margin-top: 110px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    width: 1650px;
    height: 1100px;
    border: 3px solid black;

}




.featuresList {
    list-style: none;
    padding: 20px;
    width:250px;
  
}

.featuresList li {
    margin-bottom:15px;
    gap: 20px;
    width: 200px;
    height: 50px;
    padding: 15px;

}
.featuresList li:hover{
    background-color: rgb(241, 239, 233);
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.featuresList a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 30px;
    width: 230px;

}

.featuresList a:hover {
    text-decoration: none;
    color: #0056b3;
    
}

.featuresList i {
    margin-right: 10px;
}

.content-display {
   
    padding-left: 250px;
    background-color: #f2f2f3;
    margin-top: 31px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    justify-content: center;
    text-align: center;
    height: 20px;
    width: 1660px;
   
} 


.category-section{
    color: #c41c1c;
    padding: 9px;
    font-size: 15px;
}

#featureContent {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#featureContent h3 {
    margin-top: 0;
    color: #333;
}

#featureContent iframe {
    width: 100%;
    height: 900px;
    border: none;
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    
    .navbar-menu {
        flex-direction: column;
        margin-top: 10px;
    }
    
    .navbar-item {
        margin: 5px 0;
    }
    
    .admin-main {
        padding: 10px;
    }
    
    .category-section {
        padding: 15px;
    }
}
